{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="mt-5">Live Streaming</h3>
      <img src="{{ url_for('auth.video_feed') }}" width="50%" />
    </div>
  </div>
</div>
<div class="container">
  <br /><br />
  <form method="POST">
    <button
      type="submit"
      class="btn btn-primary"
      name="stop"
      value="STOP"
    >
      Stop
    </button>
  </form>
</div>
{% endblock %}
